
<form method="post" action="/{{action}}/{{alumno._id}}">
  <p>CURP: <input type="text" name="curp" value="{{alumno.curp}}"/></p>
  <p>Nombre: <input type="text" name="fname" value="{{alumno.fname}}" /></p>
  <p>Apellido: <input type="text" name="lname" value="{{alumno.lname}}" /></p>
  <p>DoB: <input type="text" name="dob" value="{{alumno.dob}}"/></p>
  <p>Promedio: <input type="text" name="prom" value="{{alumno.prom}}" /></p>
  <p><input type="submit" value="{{btnlabel}}" /></p>
</form>
