
<form method="get" action="/filter">
  Promedio: <input type="text" name="prom" />
  <input type="submit" value="filter" />
</form>

    <table>
      <tr>
        <th>DNI</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>DOB</th>
        <th>Promedio</th>
        <th>Added</th>
        <th>Actions</th>
      </tr>
      {{#each alumnos}}
      <tr>
        <td><a href='/alumno/{{this._id}}'>{{this.dni}}</a></td>
        <td>{{this.fname}}</td>
        <td>{{this.lname}}</td>
        <td>{{this.dob}}</td>
        <td>{{this.prom}}</td>
        <td>{{this.added}}</td>
        <td>
          <a href="/edit/{{this._id}}">Edit</a>
          <a href="/delete?_id={{this._id}}">Delete</a>
        </td>
      </tr>
      {{/each}}
    </table>
